<!DOCTYPE html>
<html>
  <head>
    <style>
      .menu {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
      }
    </style>

    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="" content="" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title></title>
  </head>
  <body>
    <ul class="bg-dark nav">
      <a onclick="myFunction()" class="nav-link">
        <div class="bg-dark" id="menucontainer " style="margin: 0">
          <div class="menu"></div>
          <div class="menu"></div>
          <div class="menu"></div>
        </div>
      </a>
      <a href="" class="mx-auto nav-link pt-3 pl-4 text-white">
        <img src="/cmrlogo.png" width="100px" height="60px" />
      </a>
    </ul>
    <br />
    <div id="navs" style="display: none" class="container shadow">
      <ul class="navbar justify-content-center">
        <a href="" class="nav-link">
          <img
            width="70"
            height="70"
            class="img-thumbnail nav-link"
            src="<%=currentuser.profilepic%>"
          />
        </a>
        <a href="" class="nav-link"> <%= currentuser.displayname %> </a>

        <a href="/question/modify" style="text-decoration-none"> Modify </a>
      </ul>
    </div>

    <ul class="nav nav-pills nav-fill justify-content-between pt-4">
      <a class="nav-link" href="/question/allquestions"> Questions</a>
      <a class="nav-link" href="/tags"> Tags</a>
      <a class="nav-link" href="/question/newQuestionPage"> Ask</a>
    </ul>

    <br />

    <br />
    <br />
    <br />

    <div class="shadow bg-light container mx-auto w-76">
      <h1 class="text-center text-primary">
        Click a tag to view associated questions
      </h1>
      <br />

      <% for (t of unique) { %>

      <div class="m-1 bg-light shadow btn">
        <a href="/tags/<%=t%>" class="text-decoration-none text-dark">
          <%= t %>
        </a>
      </div>
      &nbsp; <% } %>

      <br />
      <br />
    </div>

    <script src="/javascripts/bootstrap.min.js"></script>

    <script>
      function myFunction() {
        var x = document.getElementById("navs");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>
  </body>
</html>
